@{
    ViewBag.Title = "Home Page";  
}

<div class="chart-Questions">
    @(Html.Kendo().Chart()
        .Name("chart")
                .Title(title => title
                    .Text("You ask the most about ...?")
                    .Position(ChartTitlePosition.Bottom))
        .Legend(legend => legend
            .Visible(false)
        )
        .Series(series =>
        {
            series.Pie((IEnumerable<dynamic>)ViewBag.QuestionsData)
            .Labels(labels => labels
                .Template("#= category #: #= value#%")
                .Background("transparent")
                .Visible(true)
            )
            .StartAngle(150);
        })
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Format("{0}%")
        )
    )
</div>
@*hghjgh*@
<div class="chart-Answers inline">
    @(Html.Kendo().Chart()
        .Name("chart")
                .Title(title => title
                    .Text("You asnwer the most...?")
                    .Position(ChartTitlePosition.Bottom))
        .Legend(legend => legend
            .Visible(false)
        )
        .Series(series =>
        {
            series.Pie((IEnumerable<dynamic>)ViewBag.QuestionsData)
            .Labels(labels => labels
                .Template("#= category #: #= value#%")
                .Background("transparent")
                .Visible(true)
            )
            .StartAngle(150);
        })
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Format("{0}%")
        )
    )
</div>