@model IEnumerable<TellToAsk.Areas.LoggedUser.Models.QuestionModel>

@(Html.Kendo().Grid<TellToAsk.Areas.LoggedUser.Models.QuestionModel>()
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.QuestionId).Visible(false);
        columns.Bound(p => p.Text).ClientTemplate(
        "#= Text.length > 10 ? (Text.substring(0, 10).concat('...')) : Text #"
).Groupable(false);
        columns.Bound(p => p.Category.Name);
        columns.Command(command => command.Custom("Answer").Click("showDetails"));

    })
    .Groupable()
    .Pageable()
    .Sortable()
    .Scrollable()
    .Filterable()
    .DataSource(dataSource => dataSource
    .Ajax()
        .Read(read => read.Action("GetTargetedQuestions", "LoggedUser")))
)

@(Html.Kendo().Window().Name("Details")
    .Title("Answer Question")
    .Visible(false)
    .Modal(true)
    .Draggable(true)
    .Width(300)
)

<script type="text/x-kendo-template" id="template">

    <div id="details-container">
        <em>#= Text #</em>

        @using (Html.BeginForm("AnswerToQuestion", "LoggedUser"))
        {
            <input type="hidden" name="QuestionId" value="#= QuestionId #" />

                 @Html.TextArea("Comment", string.Empty, 10, 55, null)
            <input type="submit" class="btn btn-success" value="Answer" />
        }
    </div>
</script>

<script type="text/javascript">
    var detailsTemplate = kendo.template($("#template").html());

    function showDetails(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var wnd = $("#Details").data("kendoWindow");

        wnd.content(detailsTemplate(dataItem));
        wnd.center().open();
    }

</script>